# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.egg-info/
*.egg

# Virtual environment
venv/
env/
ENV/

# Database local
*.db
*.sqlite3

# Flask instance folder
instance/

# Migrations cache (não a pasta migrations em si!)
migrations/__pycache__/

# IDEs e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
